{% load render_bundle from webpack_loader %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Globekit CMS</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLRAkbXPEBBpHeZFQkgyLu5ValwC5py90&libraries=places"></script>
</head>
<body>
    <div id="app">
        <home></home>
    </div>
    {% render_bundle 'main' %}
</body>
</html>